---
import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || 'Timely.rest - Free Online Timer for Maximum Focus | Timely';
const description =
  Astro.props.description || `Free Online Timer for Maximum Focus`;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3NTSYKNGX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S3NTSYKNGX');
  </script>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Timesy" property="og:site_name" />
    <meta content="https://timesy.app" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://timesy.app/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body>
    <slot />
  </body>
</html>
